# Programming for Data Analysis
## Project 1 
## Title: IQ Test 
### Author: Andras Csullog

![IQ](https://www.arealme.com/newimg/tn_@2x_iq-2019.png)

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import random
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
iqm = np.random.normal(100 , 18 , 500)
iqf = np.random.normal(100 , 12 , 500)

dobym = np.random.randint(1900, 2000, 500)
dobyf = np.random.randint(1900, 2000, 500)

flynn_iqm = (dobym-1950)* 0.3 + iqm
flynn_iqf = (dobyf-1950)* 0.3 + iqf
flynn_x = np.concatenate([flynn_iqm, flynn_iqf])

def NormalizeData(flynn_x):
    return (flynn_x - np.min(flynn_x)) / (np.max(flynn_x) - np.min(flynn_x))*100
scaled_x = NormalizeData(flynn_x)
social_economics = np.round(scaled_x)

df = pd.DataFrame(columns = ['IQ_Score','Gender','Social Economics','DOB_Year'])

df['Index'] = pd.Series(range(1,1001))
             
df['IQ_Score'] = np.concatenate([flynn_iqm, flynn_iqf])

condition = [(df['Index'] < 500), (df['Index'] > 500)]
gender = ['male', 'female']
df['Gender'] = np.select(condition, gender)

df['Social Economics'] = social_economics

df['DOB_Year'] = np.concatenate((dobym, dobyf))

In [4]:
df

       IQ_Score  Gender  Social Economics  DOB_Year  Index
0     83.007845    male              47.0      1959      1
1     66.297819    male              35.0      1935      2
2    111.699614    male              68.0      1959      3
3     88.409103    male              51.0      1922      4
4    102.779622    male              62.0      1933      5
..          ...     ...               ...       ...    ...
995   78.635413  female              44.0      1934    996
996   96.949102  female              57.0      1948    997
997   96.168836  female              57.0      1945    998
998   94.686524  female              56.0      1902    999
999   71.776758  female              39.0      1900   1000

[1000 rows x 5 columns]